<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Janela Secundaria</title>
    <!--Bootstrap.css-->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!--CSS personalizado-->
    <link rel="stylesheet" href="../public/css/style.css">
    
    <!--Impedir a execução de scripts externos ou não autorizados-->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' ">
</head>
<body>
    <h1>Janela Secundaria</h1>
    <!--Bootstrap-->
    <script src="../public/js/bootstrap.bundle.min.js"></script>

</body>
</html>