<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordem de Serviço</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- impedir a execução de scripts externos ou não autorizados -->
     <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>
<body>
    <div class="container">
        <div class="container">
            <form id="frmOS" class="mt-2 row g-3">
                <!--buscar cliente-->
                <div class="col-md-5">
                    <input type="text" class="form-control" id="searchClient" placeholder="Nome do Cliente ou Ordem de Serviço" maxlength="30" spellcheck="false"  >
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-dark" id="btnRead" onclick="searchOS()" >Buscar</button>
                </div>
                <div class="col-md-3">
                    <label for="inputdata_servico" class="form-label">Data da Ordem de Serviço</label>
                    <input type="date" class="form-control" id="inputdata_servico" required>
                </div>
                <hr class="mt-4 border border-primary border -1" >
                <div class="col-md-3">
                    <label for="inputosClient" class="form-label">Ordem de Serviço</label>
                    <input type="text" class="form-control" id="inputenderecoClient" placeholder="Número da OS" required maxlength="30">
                </div>
                
                <div class="col-md-3">
                    <label for="inputstatus" class="form-label">Status</label>
                    <select class="form-select" id="inputstatus" required>
                        <option value="pendente">Pendente</option>
                        <option value="em_andamento">Em Andamento</option>
                        <option value="concluido">Aguardando Peças</option>
                        <option value="concluido">Concluído</option>
                        <option value="cancelado">Cancelado</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="inputdata_servico" class="form-label">Data da Finalização Serviço</label>
                    <input type="date" class="form-control" id="inputdata_servico">
                </div>

                
                <div class="col-md-3">
                    <label for="inputmodel" class="form-label">Modelo do Smartphone</label>
                    <input type="text" class="form-control" id="inputmodel" placeholder="Modelo do Smartphone" required maxlength="30">
                </div>
                <div class="col-md-3">
                    <label for="inputcor" class="form-label">Cor Do Celeular</label>
                    <input type="text" class="form-control" id="inputcor" placeholder="Cor Do Celeular" required maxlength="30">
                </div>
                <div class="col-md-3">
                    <label for="inputresponsavel" class="form-label">Técnico Responsavel</label>
                    <input type="text" class="form-control" id="inputresponsavel" placeholder="Técnico Responsavel" required maxlength="30">
                </div>
                <div class="col-md-3">
                    <label for="inputimeicell" class="form-label">Imei Do Celular</label>
                    <input type="text" class="form-control" id="inputimeicell" placeholder="Imei Do Celular" required maxlength="15">
                </div>
                <div class="md-5">
                    <label for="inputservico" class="form-label">Descrição do Serviço</label>
                    <textarea class="form-control" id="servico" rows="3" placeholder="Descrição detalhada do serviço" required></textarea>
                </div>
                <div class="md-3">
                    <label for="inputobservacao" class="form-label">Observações</label>
                    <textarea class="form-control" id="inputobservacao" rows="5" placeholder="Observações adicionais"></textarea>
                </div>
    
                <button type="submit" class="btn btn-success">Gerar Ordem de Serviço</button>
            </form>
    </div>

     <!-- Bootstrap -->
     <script src="../public/js/bootstrap.min.js"></script>
     <!-- Scripts -->
</body>
</html>