<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <!--Bootstrap.css-->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!--CSS personalizado-->
    <link rel="stylesheet" href="../public/css/style1.css">
    
    <!--Impedir a execução de scripts externos ou não autorizados-->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">

</head>
<body>
    <div class="container">
        <h2>Teste de IMEI</h2>
        <div class="form-group">
            <label for="imei">Digite o número do IMEI:</label>
            <input type="text" id="imei" placeholder="Exemplo: 123456789012345">
        </div>
        <button onclick="validarImei()">Verificar IMEI</button>
    
        <div id="result" class="result"></div>
    </div>
    
    <script src="scriptsobre.js"></script>
    </body>
    </html>