<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <!--Bootstrap.css-->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!--CSS personalizado-->
    <link rel="stylesheet" href="../public/css/style.css">
    
    <!--Impedir a execução de scripts externos ou não autorizados-->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">

</head>
<body>
    <div class="container">
        <p>Sistema para Emissão de OS</p>
        <p>Autor: Thiago Sanches</p>
        <p>Sob a Licença MIT</p>
    </div>
    <!--Bootstrap-->
    <script src="../public/js/bootstrap.bundle.min.js"></script>

</body>
</html>