/* Ocultar a lupa (span dentro de input-group) */
.input-group-text {
    display: none;
}




h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

label {
    font-weight: 600;
    color: #555;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    border-radius: 6px;
    padding: 10px 18px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

button.btn-success:hover {
    background-color: #28a745cc;
}

button.btn-primary:hover {
    background-color: #007bffcc;
}

button.btn-warning:hover {
    background-color: #ffc107cc;
}

button.btn-danger:hover {
    background-color: #dc3545cc;
}

button.btn-secondary:hover {
    background-color: #6c757dcc;
}
